html, body {
	--accent-1: rgb(124, 86, 189);
	--accent-2: rgb(44, 218, 218);
	--light-500: rgb(209, 209, 209);
	--dark-500: rgb(29, 29, 29);
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: var(--dark-500);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *::after, *::before {
	box-sizing: border-box;
}